.form {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 20px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  background-color: white;
  height: 70px;
  border-radius: 10px;
  padding: 5px 9px;
}

.custom-file-upload {
  display: inline-flex;
  padding: 12px 21px;
  cursor: pointer;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

.option {
  background-color: #FFFFFF;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

.card-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
