.suggest-container {
    background: url('../assets/suggest-image.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0 32px;
    border-radius: 32px;
}